/* 메인 콘텐츠 아래로 밀기 */
main {
  margin-top: 180px; /* 헤더 높이만큼 여백 추가 */
  margin-bottom: 120px; /* 헤더 높이만큼 여백 추가 */
}

/* 섹션 스타일 */
.animated-section {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease, transform 1s ease;
  }
  
  .animated-section.show {
    opacity: 1;
    transform: translateY(0);
  }
  
  /* 각 섹션 디자인 */
  .section-intro {
    background-color: #123456; /* 헤더 색상과 통일 */
    color: #fff;
    width:100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .section-content {
    background-color: #f8f9fa;
    color: #333;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 40px;
  }
  
  .section-content:nth-child(odd) {
    background-color: #1f3b57;
    color: #fff;
  }
  
  .section-content h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  .section-content p {
    font-size: 1.2rem;
    line-height: 1.8;
  }


/* 팀원 소개 */
.team-member-show {
  color: #ffffff; /* 글자 색상 */
  padding: 40px;
  text-align: center;
}

.team-member-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.team-member {
  background-color: #7c6dbe; /* 팀원 카드 배경색 */
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  width: 200px; /* 카드 너비 */
  transition: transform 0.3s, box-shadow 0.3s; /* 호버 효과 */
}

.team-member h5 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.team-member p {
  font-size: 1rem;
  
}

.team-member:hover {
  transform: scale(1.05); /* 호버 시 약간 확대 */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* 그림자 효과 */
}


  /* 헤더 스크롤 효과 */
  #header.scrolled {
    background-color: #0f2a44;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
  }


  

  /* 이미지 기본 스타일 */
img {
  transition: filter 0.3s ease; /* 부드러운 블러 효과 전환 */
}